@page
@model WebApplication1.Pages.CalculosModel
@{
    ViewData["Title"] = "Cálculos";
}

<h1>Cálculos</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre: </th>
            <th>Materia: </th>
            <th>Parcial 1</th>
            <th>Parcial 2</th>
            <th>Examen Final</th>
            <th>Nota Final (Promedio)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Nombre</td>
            <td>@Model.Materia</td>
            <td>@Model.Parcial1</td>
            <td>@Model.Parcial2</td>
            <td>@Model.ExamenFinal</td>
            <td>@Model.NotaFinal</td>
        </tr>
    </tbody>
</table>

<a href="Resumen" class="btn btn-primary">Ir a ver resumen</a>
<a href="Datos" class="btn btn-primary">Ingresar otras notasn</a>
